Found 119 functions in oracle

Enabled 119 functions, 0 oracle-only
bank = 04
includes = common_rtl.h smw_rtl.h variables.h funcs.h consts.h


# --- JSL inline dispatch trampolines ---

# Cross-bank name entries

name 009b80 DisplayingContinueEnd
name 00a594 BufferPalettesRoutines_Overworld
# Bank04 internal mid-function entry points
# Bank04 mid-function entry points
# name 048aa5 DrawOverworldPlayer_DrawHalo_048AA5
name 04f397 DrawFlyingSwitchBlocks_04F397
name 04fe4e DrawOverworldSpriteShadow_04FE4E

# Function entries (extracted from oracle, with end: from function ordering)
func OwTileAnimations_ShiftWaterTiles 8086
func OwTileAnimations_0480B9 80b9
func OwTileAnimations 80e0
func OwTileAnimations_048172 8172
func GameMode0E_ShowOverworld_Bank04 8241
func GameMode0E_ShowOverworld_UpdateMainMapFreeScrollingPosition 8415
func HandleOverworldStarPipeWarp_GetIndex 8509
func HandleOverworldStarPipeWarp_SetPlayerDestination 853b
func HandleCurrentOverworldProcess 8576
func sub_485A4 85a4
func sub_485A7 85a7
func DrawOverworldPlayer 862e
func DrawOverworldPlayer_DrawHalo 8789
# Inline data tables for OAM tile IDs in DrawOverworldPlayer_DrawHalo

func DrawOverworldPlayer_DrawCurrentPlayer 894f
# Inline data tables for OAM data in DrawOverworldPlayer_DrawCurrentPlayer
exclude_range 89DE 8B5D



func GameMode0C_LoadOverworld_048D91 8d91
func GameMode0C_LoadOverworld_048E55 8e55
func OwProcess00_OverworldEntryInitialization 8ef1
func OwProcess02_HandleLevelBeaten 8f87
func UpdateSaveBuffer 9037
func OwProcess03_StandingStill 9120
func OwProcess04_PlayerIsMoving 945d
func OwProcess04_PlayerIsMoving_049831 9831
func OwProcess04_PlayerIsMoving_04983F 983f
func CalculateOverworldPlayerPosition 9885
func OwProcess0C_IntroMarch 98c6
func UnlockOverworldPathBasedOnExit 9903
func HandleOverworldPathExits 9a24
func HandleOverworldPathExits_SetLayerPositions 9a93
func UpdateLevelName 9d07
func UpdateLevelName_049D7F 9d7f
func OwProcess05_CheckPlayerSwitch 9d9a
func OwProcess07_SwitchingPlayers 9dd1
func OwProcess08_PlayerSwitchFadeIn 9e22
func OwProcess09_FinishedSwitchingPlayers 9e4c
func OwProcess0B_StarWarpAnimation 9e52
func InitializeOverworldTilemaps d6e9
func LoadOverworldLayer1AndEvents_InitializedOverworldLayer1Tilemap d770
func LoadOverworldLayer1AndEvents_04D7F2 d7f2
func LoadOverworldLayer1AndEvents_04DA49 da49
func LoadOverworldLayer2AndEventsTilemaps daad
func BufferOverworldLayer2Tilemap daba
func OwProcess0A_SwitchBetweenSubmaps daef
func SubmapSwitchProcess06_EndWindowHDMA db18
func SubmapSwitchProcess05_UpdatePalette db9d
func SubmapSwitchProcess07_EndSubmapSwitch dbcf
func LoadOverworldLayer1AndEvents dc09
func LoadOverworldLayer2AndEventsTilemaps_Sub dc6a
func SubmapSwitchProcess01_UpdateLayer1 dcb6
func LoadOverworldLayer2AndEventsTilemaps_04DD40 dd40
func LoadOverworldLayer2AndEventsTilemaps_04DD57 dd57
func LoadOverworldLayer2AndEventsTilemaps_04E453 e453
func BufferEventTileToLayer2Tilemap e496
func BufferEventTileToLayer2Tilemap_Entry2 e4a9
func BufferEventTileToLayer2Tilemap_Buffer2x2Tile e4d0
func BufferEventTileToLayer2Tilemap_Buffer6x6Tile e520
func OwProcess01_ActivateEvents e570
func OwEventProcess00_CheckIfEventShouldRun e5ee
func CheckIfDestroyTileEventIsActive e677
func OwEventProcess02_SetEventTileIndexes e6d3
func OwEventProcess03_GetLayer2Tile e6f9
func BufferEventTileToStripeImageTable_Buffer2x2Tile e76c
func BufferEventTileToStripeImageTable_Buffer6x6Tile e824
func OwEventProcess07_SilentEventsAndEndOfEvent e9ec
func OwEventProcess07_SilentEventsAndEndOfEvent_Entry2 e9f1
func OwEventProcess03_GetLayer2Tile_04EA62 ea62
func OwEventProcess03_GetLayer2Tile_04EA8B ea8b
func OwEventProcess04_FadeInLayer2Tile eaa4
func OwEventProcess06_FadeInLayer1Tile ebeb
func GetXAndYDispOfCurrentEventTileSprite ec67
func OwEventProcess05_GetLayer1Tile ec78
func OwEventProcess01_DestroyTileAnimation_04ED83 ed83
func OwEventProcess01_DestroyTileAnimation_04EDE6 ede6
func OwEventProcess04_FadeInLayer2Tile_04EE30 ee30
func OwEventProcess01_DestroyTileAnimation_04EEAA eeaa
func DrawFlyingSwitchBlocks f290
func DrawFlyingSwitchBlocks_04F39C f39c
func DisplayOwPrompt f3e5
func OwPrompt01_InitializeOwPrompt f3ff
func OwPrompt01_InitializeOwPrompt_04F407 f407
func OwPrompt02_ExpandPromptWindow f415
func OwPrompt03_OverworldLifeExchanger f513
func OwPrompt03_OverworldLifeExchanger_04F60E f60e
func LoadOverworldSprites f675
func OverworldLightningAndRandomCloudSpawning f708
func OverworldLightningAndRandomCloudSpawning_Return04F828 f828
func ProcessOverworldSprites f853
func CheckIfXIsAllowedOnYSubmap_Sprites f87c
func CheckIfXIsAllowedOnYSubmap_Lightning f882
func OWSpr01_Lakitu f8cc
func OWSpr01_Lakitu_04F993 f993
func OWSpr02_BlueBird f9b8
func OWSpr03_CheepCheep fa3e
func OWSpr03_CheepCheep_04FA7D fa7d
func OWSpr03_CheepCheep_04FA83 fa83
func OWSpr03_CheepCheep_GenericOverworldSpriteGFXRt_Draw8x8 faed
func OWSpr04_PiranhaPlant faf1
func OWSpr04_PiranhaPlant_GenericOverworldSpriteDraw fb06
func OWSpr04_PiranhaPlant_GenericOverworldSpriteGFXRt_Entry2 fb0a
func OWSpr05_Cloud fb37
func OWSpr05_Cloud_04FB77 fb77
func OWSpr05_Cloud_04FB7A fb7a
func OWSpr05_Cloud_04FB7B fb7b
func OWSpr06_KoopaKid fb98
func OWSpr07_Smoke fc46
func OWSpr08_BowserSign fce1
func OWSpr09_Bowser fd24
func OWSpr09_Bowser_04FD55 fd55
func OWSpr0A_Boo fd70
func OWSpr0A_Boo_04FDD2 fdd2
func DrawOverworldSpriteShadow fe00
func DrawOverworldSpriteShadow_04FE45 fe45
func SetOverworldSpriteFrameIndex fe5b
func GetOverworldSpriteOnScreenPosition fe62
func GetOverworldSpriteOnScreenPosition_Y fe7d
func UpdateOverworldSpritePosition fe90
func UpdateOverworldSpritePosition_X feab
func CheckPlayerToOverworldSpriteCollision fed7
func CheckPlayerToOverworldSpriteColl_SubOverworldHorizAndVertPos feef
func OWSpr01_Lakitu_CalculateOverworldLakitusSpeed ff2e

# Oracle-only name entries (for intra-bank call resolution)

# Data tables (auto-detected from oracle const arrays)































# --- SMWDisX DATA_ import (auto-generated by tools/smwdisx_exclude_pass.py) ---






























# --- end SMWDisX DATA_ import ---
