Found 119 functions in oracle

Enabled 119 functions, 0 oracle-only
bank = 04
oracle oracle/smw_04.c
includes = common_rtl.h smw_rtl.h variables.h funcs.h consts.h assets/smw_assets.h


# --- Oracle dispatch tables (file-scope in smw_04.c, needed by oracle fallback) ---
verbatim_start
void (*kHandleCurrentOverworldProcess_PtrsLong04857D[13])(void) = {
    &OwProcess00_OverworldEntryInitialization, &OwProcess01_ActivateEvents,
    &OwProcess02_HandleLevelBeaten, &OwProcess03_StandingStill,
    &OwProcess04_PlayerIsMoving, &OwProcess05_CheckPlayerSwitch,
    &OwProcess08_PlayerSwitchFadeIn, &OwProcess07_SwitchingPlayers,
    &OwProcess08_PlayerSwitchFadeIn, &OwProcess09_FinishedSwitchingPlayers,
    &OwProcess0A_SwitchBetweenSubmaps, &OwProcess0B_StarWarpAnimation,
    &OwProcess0C_IntroMarch,
};
void (*kOverworldProcess0A_SwitchBetweenSubmaps_Ptrs04DAF8[8])(void) = {
    &SubmapSwitchProcess06_EndWindowHDMA, &SubmapSwitchProcess01_UpdateLayer1,
    &SubmapSwitchProcess01_UpdateLayer1, &SubmapSwitchProcess01_UpdateLayer1,
    &SubmapSwitchProcess01_UpdateLayer1, &SubmapSwitchProcess05_UpdatePalette,
    &SubmapSwitchProcess06_EndWindowHDMA, &SubmapSwitchProcess07_EndSubmapSwitch,
};
void (*kOverworldProcess01_ActivateEvents_Ptrs04E577[8])(void) = {
    &OwEventProcess00_CheckIfEventShouldRun, &OwEventProcess06_FadeInLayer1Tile,
    &OwEventProcess02_SetEventTileIndexes, &OwEventProcess03_GetLayer2Tile,
    &OwEventProcess04_FadeInLayer2Tile, &OwEventProcess05_GetLayer1Tile,
    &OwEventProcess06_FadeInLayer1Tile, &OwEventProcess07_SilentEventsAndEndOfEvent,
};
void (*kDisplayOwPrompt_Ptrs04F3EA[8])(void) = {
    &OwPrompt01_InitializeOwPrompt, &OwPrompt02_ExpandPromptWindow,
    &OwPrompt03_OverworldLifeExchanger, &OwPrompt02_ExpandPromptWindow,
    &OwPrompt01_InitializeOwPrompt, &OwPrompt02_ExpandPromptWindow,
    &OwPrompt07_DisplayingSavePrompt, &OwPrompt02_ExpandPromptWindow,
};
void (*kProcessOverworldSprites_OverworldSpritePtrs[11])(uint8 k) = {
    /* Slot 0's handler is the shared no-op Return helper, which has no
     * uint8 parameter; cast to the table type since the dispatch
     * convention sets up its inputs via WRAM, not C-level args. */
    (void(*)(uint8))&OverworldLightningAndRandomCloudSpawning_Return04F828,
    &OWSpr01_Lakitu, &OWSpr02_BlueBird, &OWSpr03_CheepCheep,
    &OWSpr04_PiranhaPlant, &OWSpr05_Cloud, &OWSpr06_KoopaKid,
    &OWSpr07_Smoke, &OWSpr08_BowserSign, &OWSpr09_Bowser, &OWSpr0A_Boo,
};
/* Mid-function entry: $04F397 = TXA; CLC; ADC #$28; TAX; fall through to $04F39C */
uint16 DrawFlyingSwitchBlocks_04F397(uint8 k, uint8 j) {
    return DrawFlyingSwitchBlocks_04F39C(k + 40, j);
}
/* Mid-function entry: $04FE4E = adjusts pt.y (DP $02/$03) by owspr_zpos_lo[k] */
void DrawOverworldSpriteShadow_04FE4E(uint8 k) {
    uint16 y = g_ram[0x02] | (g_ram[0x03] << 8);
    y += owspr_zpos_lo[k];
    g_ram[0x02] = y & 0xFF;
    g_ram[0x03] = (y >> 8) & 0xFF;
}
verbatim_end

# --- JSL inline dispatch trampolines ---

# Cross-bank name entries
name 0086df GameMode14_InLevel_0086DF
name 00ba28 GraphicsDecompress
name 00beb0 GenerateTile sig:void()
name 0087ad UploadLevelLayer1And2Tilemaps
name 00974c OwPrompt03_OverworldLifeExchanger_00974C sig:PairU16(uint8_a)
name 009b80 DisplayingContinueEnd
name 009ba8 OwPrompt07_DisplayingSavePrompt_trampoline sig:void()
name 009bc9 SaveGame
name 009c13 CloseOwPrompt
name 00a594 BufferPalettesRoutines_Overworld
name 00b006 OwEventProcess04_FadeInLayer2Tile_00B006
name 00ceb1 SetPlayerPose
name 00e2bd PlayerDraw
name 05881a BufferScrollingTiles_Layer1_Main
name 05dbf2 LoadOverworldLifeCounter
# Bank04 internal mid-function entry points
# Bank04 mid-function entry points
# name 048aa5 DrawOverworldPlayer_DrawHalo_048AA5
name 04f397 DrawFlyingSwitchBlocks_04F397 sig:uint16(uint8_k,uint8_j) y_after:+2
name 04fe4e DrawOverworldSpriteShadow_04FE4E sig:void(uint8_k)

# Function entries (extracted from oracle, with end: from function ordering)
func OwTileAnimations_ShiftWaterTiles 8086 end:80b9 # AUTO
func OwTileAnimations_0480B9 80b9 end:80e0 rep:80b9 repx:80b9 # AUTO
func OwTileAnimations 80e0 end:8172 # AUTO
func OwTileAnimations_048172 8172 end:8211 # AUTO
func GameMode0E_ShowOverworld_Bank04 8241 end:8415 # AUTO
func GameMode0E_ShowOverworld_UpdateMainMapFreeScrollingPosition 8415 end:8431 # MANUAL
func HandleOverworldStarPipeWarp_GetIndex 8509 end:853b # MANUAL
func HandleOverworldStarPipeWarp_SetPlayerDestination 853b end:8576 # AUTO
func HandleCurrentOverworldProcess 8576 end:85a4 # MANUAL
func sub_485A4 85a4 end:85a7 # AUTO
func sub_485A7 85a7 end:862e # AUTO
func DrawOverworldPlayer 862e end:8789 # AUTO
func DrawOverworldPlayer_DrawHalo 8789 end:894f rep:8789 repx:8789 # AUTO
# Inline data tables for OAM tile IDs in DrawOverworldPlayer_DrawHalo
exclude_range 87CB 894A
func DrawOverworldPlayer_DrawCurrentPlayer 894f end:8d74 rep:8963 repx:8963 # AUTO
# Inline data tables for OAM data in DrawOverworldPlayer_DrawCurrentPlayer
exclude_range 89DE 8B5D
exclude_range 8B5E 8C1D
exclude_range 8C1E 8CDD
exclude_range 8CDE 8CE5
func GameMode0C_LoadOverworld_048D91 8d91 end:8e49 # AUTO
func GameMode0C_LoadOverworld_048E55 8e55 end:8ef1 # AUTO
func OwProcess00_OverworldEntryInitialization 8ef1 end:8f7f # MANUAL
func OwProcess02_HandleLevelBeaten 8f87 end:9037 # MANUAL
func UpdateSaveBuffer 9037 end:9058 # MANUAL
func OwProcess03_StandingStill 9120 end:9416 # MANUAL
func OwProcess04_PlayerIsMoving 945d end:9831 # MANUAL
func OwProcess04_PlayerIsMoving_049831 9831 end:983f # AUTO
func OwProcess04_PlayerIsMoving_04983F 983f end:9885 # MANUAL
func CalculateOverworldPlayerPosition 9885 end:98c6 rep:9885 # AUTO
func OwProcess0C_IntroMarch 98c6 end:9903 # MANUAL
func UnlockOverworldPathBasedOnExit 9903 end:99f0 # MANUAL
func HandleOverworldPathExits 9a24 end:9a93 # MANUAL
func HandleOverworldPathExits_SetLayerPositions 9a93 end:9c91 rep:9a93 # AUTO
func UpdateLevelName 9d07 end:9d7f rep:9d07 repx:9d07 # AUTO
func UpdateLevelName_049D7F 9d7f end:9d9a repx:9d7f # AUTO
func OwProcess05_CheckPlayerSwitch 9d9a end:9dd1 # MANUAL
func OwProcess07_SwitchingPlayers 9dd1 end:9e22 # MANUAL
func OwProcess08_PlayerSwitchFadeIn 9e22 end:9e4c # MANUAL
func OwProcess09_FinishedSwitchingPlayers 9e4c end:9e52 # MANUAL
func OwProcess0B_StarWarpAnimation 9e52 end:9ea7 # MANUAL
func InitializeOverworldTilemaps d6e9 end:d770 # AUTO
func LoadOverworldLayer1AndEvents_InitializedOverworldLayer1Tilemap d770 end:d7f2 repx:d770 # AUTO
func LoadOverworldLayer1AndEvents_04D7F2 d7f2 end:da49 # AUTO
func LoadOverworldLayer1AndEvents_04DA49 da49 end:daad # AUTO
func LoadOverworldLayer2AndEventsTilemaps daad end:daba # AUTO
func BufferOverworldLayer2Tilemap daba end:daef repx:dabc # AUTO
func OwProcess0A_SwitchBetweenSubmaps daef end:db08 # MANUAL
func SubmapSwitchProcess06_EndWindowHDMA db18 end:db9d # MANUAL
func SubmapSwitchProcess05_UpdatePalette db9d end:dbcf # MANUAL
func SubmapSwitchProcess07_EndSubmapSwitch dbcf end:dc02 # MANUAL
func LoadOverworldLayer1AndEvents dc09 end:dc6a # AUTO
func LoadOverworldLayer2AndEventsTilemaps_Sub dc6a end:dcb6 # AUTO
func SubmapSwitchProcess01_UpdateLayer1 dcb6 end:dd40 # MANUAL
func LoadOverworldLayer2AndEventsTilemaps_04DD40 dd40 end:dd57 repx:dd42 # AUTO
func LoadOverworldLayer2AndEventsTilemaps_04DD57 dd57 end:e359 repx:dd57 # AUTO
func LoadOverworldLayer2AndEventsTilemaps_04E453 e453 end:e496 # AUTO
func BufferEventTileToLayer2Tilemap e496 end:e4a9 # AUTO
func BufferEventTileToLayer2Tilemap_Entry2 e4a9 end:e4d0 # AUTO
func BufferEventTileToLayer2Tilemap_Buffer2x2Tile e4d0 end:e520 rep:e4d0 # AUTO
func BufferEventTileToLayer2Tilemap_Buffer6x6Tile e520 end:e570 rep:e520 # AUTO
func OwProcess01_ActivateEvents e570 end:e5a7 # MANUAL
func OwEventProcess00_CheckIfEventShouldRun e5ee end:e677 # MANUAL
func CheckIfDestroyTileEventIsActive e677 end:e6d3 # AUTO
func OwEventProcess02_SetEventTileIndexes e6d3 end:e6f9 # MANUAL
func OwEventProcess03_GetLayer2Tile e6f9 end:e76c # MANUAL
func BufferEventTileToStripeImageTable_Buffer2x2Tile e76c end:e824 rep:e76c # MANUAL
func BufferEventTileToStripeImageTable_Buffer6x6Tile e824 end:e9ec rep:e824 # MANUAL
func OwEventProcess07_SilentEventsAndEndOfEvent e9ec end:e9f1 # MANUAL
func OwEventProcess07_SilentEventsAndEndOfEvent_Entry2 e9f1 end:ea62 # AUTO
func OwEventProcess03_GetLayer2Tile_04EA62 ea62 end:ea8b # MANUAL
func OwEventProcess03_GetLayer2Tile_04EA8B ea8b end:eaa4 # MANUAL
func OwEventProcess04_FadeInLayer2Tile eaa4 end:eb56 # MANUAL
func OwEventProcess06_FadeInLayer1Tile ebeb end:ec67 # MANUAL
func GetXAndYDispOfCurrentEventTileSprite ec67 end:ec78 sig:PointU8(void) # MANUAL
func OwEventProcess05_GetLayer1Tile ec78 end:ecd3 # MANUAL
func OwEventProcess01_DestroyTileAnimation_04ED83 ed83 end:ede6 # MANUAL
func OwEventProcess01_DestroyTileAnimation_04EDE6 ede6 end:ee30 rep:ede6 # MANUAL
func OwEventProcess04_FadeInLayer2Tile_04EE30 ee30 end:eeaa # MANUAL
func OwEventProcess01_DestroyTileAnimation_04EEAA eeaa end:f290 # MANUAL
func DrawFlyingSwitchBlocks f290 end:f39c # AUTO
func DrawFlyingSwitchBlocks_04F39C f39c end:f3e5 y_after:+2 # AUTO
func DisplayOwPrompt f3e5 end:f3ff # MANUAL
func OwPrompt01_InitializeOwPrompt f3ff end:f407 # MANUAL
func OwPrompt01_InitializeOwPrompt_04F407 f407 end:f411 # MANUAL
func OwPrompt02_ExpandPromptWindow f415 end:f503 # MANUAL
func OwPrompt03_OverworldLifeExchanger f513 end:f60e # MANUAL
func OwPrompt03_OverworldLifeExchanger_04F60E f60e end:f672 # MANUAL
func LoadOverworldSprites f675 end:f6d0 # AUTO
func OverworldLightningAndRandomCloudSpawning f708 end:f828 # AUTO
func OverworldLightningAndRandomCloudSpawning_Return04F828 f828 end:f833 # AUTO
func ProcessOverworldSprites f853 end:f87c # AUTO
func CheckIfXIsAllowedOnYSubmap_Sprites f87c end:f882 # AUTO
func CheckIfXIsAllowedOnYSubmap_Lightning f882 end:f8a6 # AUTO
func OWSpr01_Lakitu f8cc end:f993 rep:f948 # AUTO
func OWSpr01_Lakitu_04F993 f993 end:f9a8 # MANUAL
func OWSpr02_BlueBird f9b8 end:fa2e # AUTO
func OWSpr03_CheepCheep fa3e end:fa7d # AUTO
func OWSpr03_CheepCheep_04FA7D fa7d end:fa83 # AUTO
func OWSpr03_CheepCheep_04FA83 fa83 end:faed # MANUAL
func OWSpr03_CheepCheep_GenericOverworldSpriteGFXRt_Draw8x8 faed end:faf1 # AUTO
func OWSpr04_PiranhaPlant faf1 end:fb06 # AUTO
func OWSpr04_PiranhaPlant_GenericOverworldSpriteDraw fb06 end:fb0a # AUTO
func OWSpr04_PiranhaPlant_GenericOverworldSpriteGFXRt_Entry2 fb0a end:fb37 ret_y # AUTO
func OWSpr05_Cloud fb37 end:fb77 # AUTO
func OWSpr05_Cloud_04FB77 fb77 end:fb7a # AUTO
func OWSpr05_Cloud_04FB7A fb7a end:fb7b # AUTO
func OWSpr05_Cloud_04FB7B fb7b end:fb85 # AUTO
func OWSpr06_KoopaKid fb98 end:fc26 # AUTO
func OWSpr07_Smoke fc46 end:fce1 # AUTO
func OWSpr08_BowserSign fce1 end:fd0a # AUTO
func OWSpr09_Bowser fd24 end:fd55 # AUTO
func OWSpr09_Bowser_04FD55 fd55 end:fd70 # AUTO
func OWSpr0A_Boo fd70 end:fdd2 # AUTO
func OWSpr0A_Boo_04FDD2 fdd2 end:fe00 restores_x:g_ram[0xdde] # AUTO
func DrawOverworldSpriteShadow fe00 end:fe45 # AUTO
func DrawOverworldSpriteShadow_04FE45 fe45 end:fe5b # AUTO
func SetOverworldSpriteFrameIndex fe5b end:fe62 # AUTO
func GetOverworldSpriteOnScreenPosition fe62 end:fe7d sig:PointU16(uint8_k) # AUTO
func GetOverworldSpriteOnScreenPosition_Y fe7d end:fe90 # AUTO
func UpdateOverworldSpritePosition fe90 end:feab # AUTO
func UpdateOverworldSpritePosition_X feab end:fed7 # AUTO
func CheckPlayerToOverworldSpriteCollision fed7 end:feef rep:feda carry_ret # AUTO
func CheckPlayerToOverworldSpriteColl_SubOverworldHorizAndVertPos feef end:ff2e sig:OwHvPos(uint8_k) # AUTO
func OWSpr01_Lakitu_CalculateOverworldLakitusSpeed ff2e # MANUAL

# Oracle-only name entries (for intra-bank call resolution)

# Data tables (auto-detected from oracle const arrays)
exclude_range 8211 8240
exclude_range 8431 8508
exclude_range 8D74 8D90
exclude_range 8E49 8E54
exclude_range 8F7F 8F86
exclude_range 9058 9117
exclude_range 9416 941D
exclude_range 9426 945C
exclude_range 99F0 9A23
exclude_range 9C91 9D06
exclude_range 9EA7 A0FB
exclude_range D678 D6E8
exclude_range DB08 DB17
exclude_range DC02 DC08
exclude_range E359 E452
exclude_range E5A7 E5B5
exclude_range E5D6 E5E5
exclude_range EB56 EBEA
exclude_range ECD3 ED82
exclude_range F411 F414
exclude_range F503 F512
exclude_range F672 F674
exclude_range F6D0 F707
exclude_range F833 F842
exclude_range F8A6 F8C5
exclude_range F9A8 F9B7
exclude_range FA2E FA3D
exclude_range FB85 FB87
exclude_range FC26 FC45
exclude_range FD0A FD23

# --- SMWDisX DATA_ import (auto-generated by tools/smwdisx_exclude_pass.py) ---
exclude_range 9414 9415  # DATA_049414 (2B) in OwProcess03_StandingStill
exclude_range 9964 9965  # DATA_049964 (2B) in UnlockOverworldPathBasedOnExit
exclude_range 9966 9967  # DATA_049966 (2B) in UnlockOverworldPathBasedOnExit
exclude_range 9968 99A9  # DATA_049968 (66B) in UnlockOverworldPathBasedOnExit
exclude_range 99AA 99AB  # DATA_0499AA (2B) in UnlockOverworldPathBasedOnExit
exclude_range 99AC 99AD  # DATA_0499AC (2B) in UnlockOverworldPathBasedOnExit
exclude_range 99AE 99EF  # DATA_0499AE (66B) in UnlockOverworldPathBasedOnExit
exclude_range D85D D93C  # DATA_04D85D (224B) in LoadOverworldLayer1AndEvents_04D7F2
exclude_range D93D DA1C  # DATA_04D93D (224B) in LoadOverworldLayer1AndEvents_04D7F2
exclude_range DA1D DA32  # DATA_04DA1D (22B) in LoadOverworldLayer1AndEvents_04D7F2
exclude_range DA33 DA48  # DATA_04DA33 (22B) in LoadOverworldLayer1AndEvents_04D7F2
exclude_range DAB3 DAB9  # DATA_04DAB3 (7B) in LoadOverworldLayer2AndEventsTilemaps
exclude_range DD8D DD8E  # DATA_04DD8D (2B) in LoadOverworldLayer2AndEventsTilemaps_04DD57
exclude_range DD8F E358  # DATA_04DD8F (1482B) in LoadOverworldLayer2AndEventsTilemaps_04DD57
exclude_range E587 E5A6  # DATA_04E587 (32B) in OwProcess01_ActivateEvents
exclude_range E8E4 E90F  # DATA_04E8E4 (44B) in BufferEventTileToStripeImageTable_Buffer6x6Tile
exclude_range E910 E93B  # DATA_04E910 (44B) in BufferEventTileToStripeImageTable_Buffer6x6Tile
exclude_range E93C E993  # DATA_04E93C (88B) in BufferEventTileToStripeImageTable_Buffer6x6Tile
exclude_range E994 E9EB  # DATA_04E994 (88B) in BufferEventTileToStripeImageTable_Buffer6x6Tile
exclude_range EE7A EEA9  # DATA_04EE7A (48B) in OwEventProcess04_FadeInLayer2Tile_04EE30
exclude_range F280 F287  # DATA_04F280 (8B) in OwEventProcess01_DestroyTileAnimation_04EEAA
exclude_range F288 F28F  # DATA_04F288 (8B) in OwEventProcess01_DestroyTileAnimation_04EEAA
exclude_range F4B2 F502  # DATA_04F4B2 (81B) in OwPrompt02_ExpandPromptWindow
exclude_range F875 F87B  # DATA_04F875 (7B) in ProcessOverworldSprites
exclude_range FC1E FC1E  # DATA_04FC1E (1B) in OWSpr06_KoopaKid
exclude_range FC1F FC21  # DATA_04FC1F (3B) in OWSpr06_KoopaKid
exclude_range FC22 FC22  # DATA_04FC22 (1B) in OWSpr06_KoopaKid
exclude_range FC23 FC25  # DATA_04FC23 (3B) in OWSpr06_KoopaKid
exclude_range FDE0 FDEF  # DATA_04FDE0 (16B) in OWSpr0A_Boo_04FDD2
exclude_range FDF0 FDFF  # DATA_04FDF0 (16B) in OWSpr0A_Boo_04FDD2
# --- end SMWDisX DATA_ import ---
