Found 119 functions in oracle

Enabled 119 functions, 0 oracle-only
bank = 04
includes = common_rtl.h smw_rtl.h variables.h funcs.h consts.h assets/smw_assets.h

skip_all_except OwEventProcess03_GetLayer2Tile BufferEventTileToStripeImageTable_Buffer2x2Tile BufferEventTileToStripeImageTable_Buffer6x6Tile OwEventProcess07_SilentEventsAndEndOfEvent OwEventProcess07_SilentEventsAndEndOfEvent_Entry2 OwEventProcess03_GetLayer2Tile_04EA62 OwEventProcess03_GetLayer2Tile_04EA8B OwEventProcess04_FadeInLayer2Tile OwEventProcess06_FadeInLayer1Tile GetXAndYDispOfCurrentEventTileSprite OwEventProcess05_GetLayer1Tile OwEventProcess01_DestroyTileAnimation_04ED83 OwEventProcess01_DestroyTileAnimation_04EDE6 OwEventProcess04_FadeInLayer2Tile_04EE30 OwEventProcess01_DestroyTileAnimation_04EEAA DrawFlyingSwitchBlocks DrawFlyingSwitchBlocks_04F39C DisplayOwPrompt OwPrompt01_InitializeOwPrompt OwPrompt01_InitializeOwPrompt_04F407 OwPrompt02_ExpandPromptWindow OwPrompt03_OverworldLifeExchanger OwPrompt03_OverworldLifeExchanger_04F60E LoadOverworldSprites OverworldLightningAndRandomCloudSpawning OverworldLightningAndRandomCloudSpawning_Return04F828 ProcessOverworldSprites CheckIfXIsAllowedOnYSubmap_Sprites CheckIfXIsAllowedOnYSubmap_Lightning OWSpr01_Lakitu OWSpr01_Lakitu_04F993 OWSpr02_BlueBird OWSpr03_CheepCheep OWSpr03_CheepCheep_04FA7D OWSpr03_CheepCheep_04FA83 OWSpr03_CheepCheep_GenericOverworldSpriteGFXRt_Draw8x8 OWSpr04_PiranhaPlant OWSpr04_PiranhaPlant_GenericOverworldSpriteDraw OWSpr04_PiranhaPlant_GenericOverworldSpriteGFXRt_Entry2 OWSpr05_Cloud OWSpr05_Cloud_04FB77 OWSpr05_Cloud_04FB7A OWSpr05_Cloud_04FB7B OWSpr06_KoopaKid OWSpr07_Smoke OWSpr08_BowserSign OWSpr09_Bowser OWSpr09_Bowser_04FD55 OWSpr0A_Boo OWSpr0A_Boo_04FDD2 DrawOverworldSpriteShadow DrawOverworldSpriteShadow_04FE45 SetOverworldSpriteFrameIndex GetOverworldSpriteOnScreenPosition GetOverworldSpriteOnScreenPosition_Y UpdateOverworldSpritePosition UpdateOverworldSpritePosition_X CheckPlayerToOverworldSpriteCollision CheckPlayerToOverworldSpriteColl_SubOverworldHorizAndVertPos OWSpr01_Lakitu_CalculateOverworldLakitusSpeed

# --- JSL inline dispatch trampolines ---
jsl_dispatch 0086DF
jsl_dispatch_long 0086FA

# Cross-bank name entries
name 0086df GameMode14_InLevel_0086DF
name 00ba28 GraphicsDecompress
name 00beb0 GenerateTile sig:void()

# Function entries (extracted from oracle, with end: from function ordering)
func OwTileAnimations_ShiftWaterTiles 8086 end:80b9
func OwTileAnimations_0480B9 80b9 end:80e0 repx:80b9
func OwTileAnimations 80e0 end:8172
func OwTileAnimations_048172 8172 end:8211
func GameMode0E_ShowOverworld_Bank04 8241 end:8415
func GameMode0E_ShowOverworld_UpdateMainMapFreeScrollingPosition 8415 end:8431
func HandleOverworldStarPipeWarp_GetIndex 8509 end:853b
func HandleOverworldStarPipeWarp_SetPlayerDestination 853b end:8576
func HandleCurrentOverworldProcess 8576 end:85a4
func sub_485A4 85a4 end:85a7
func sub_485A7 85a7 end:862e
func DrawOverworldPlayer 862e end:8789
func DrawOverworldPlayer_DrawHalo 8789 end:894f
func DrawOverworldPlayer_DrawCurrentPlayer 894f end:8d74
func GameMode0C_LoadOverworld_048D91 8d91 end:8e49
func GameMode0C_LoadOverworld_048E55 8e55 end:8ef1
func OwProcess00_OverworldEntryInitialization 8ef1 end:8f7f
func OwProcess02_HandleLevelBeaten 8f87 end:9037
func UpdateSaveBuffer 9037 end:9058
func OwProcess03_StandingStill 9120 end:9416
func OwProcess04_PlayerIsMoving 945d end:9831
func OwProcess04_PlayerIsMoving_049831 9831 end:983f
func OwProcess04_PlayerIsMoving_04983F 983f end:9885
func CalculateOverworldPlayerPosition 9885 end:98c6 rep:9885
func OwProcess0C_IntroMarch 98c6 end:9903
func UnlockOverworldPathBasedOnExit 9903 end:99f0
func HandleOverworldPathExits 9a24 end:9a93
func HandleOverworldPathExits_SetLayerPositions 9a93 end:9c91 rep:9a93
func UpdateLevelName 9d07 end:9d7f rep:9d07
func UpdateLevelName_049D7F 9d7f end:9d9a
func OwProcess05_CheckPlayerSwitch 9d9a end:9dd1
func OwProcess07_SwitchingPlayers 9dd1 end:9e22
func OwProcess08_PlayerSwitchFadeIn 9e22 end:9e4c
func OwProcess09_FinishedSwitchingPlayers 9e4c end:9e52
func OwProcess0B_StarWarpAnimation 9e52 end:9ea7
func InitializeOverworldTilemaps d6e9 end:d770
func LoadOverworldLayer1AndEvents_InitializedOverworldLayer1Tilemap d770 end:d7f2
func LoadOverworldLayer1AndEvents_04D7F2 d7f2 end:da49
func LoadOverworldLayer1AndEvents_04DA49 da49 end:daad
func LoadOverworldLayer2AndEventsTilemaps daad end:daba
func BufferOverworldLayer2Tilemap daba end:daef
func OwProcess0A_SwitchBetweenSubmaps daef end:db08
func SubmapSwitchProcess06_EndWindowHDMA db18 end:db9d
func SubmapSwitchProcess05_UpdatePalette db9d end:dbcf
func SubmapSwitchProcess07_EndSubmapSwitch dbcf end:dc02
func LoadOverworldLayer1AndEvents dc09 end:dc6a
func LoadOverworldLayer2AndEventsTilemaps_Sub dc6a end:dcb6
func SubmapSwitchProcess01_UpdateLayer1 dcb6 end:dd40
func LoadOverworldLayer2AndEventsTilemaps_04DD40 dd40 end:dd57
func LoadOverworldLayer2AndEventsTilemaps_04DD57 dd57 end:e359
func LoadOverworldLayer2AndEventsTilemaps_04E453 e453 end:e496
func BufferEventTileToLayer2Tilemap e496 end:e4a9
func BufferEventTileToLayer2Tilemap_Entry2 e4a9 end:e4d0
func BufferEventTileToLayer2Tilemap_Buffer2x2Tile e4d0 end:e520 rep:e4d0
func BufferEventTileToLayer2Tilemap_Buffer6x6Tile e520 end:e570 rep:e520
func OwProcess01_ActivateEvents e570 end:e5a7
func OwEventProcess00_CheckIfEventShouldRun e5ee end:e677
func CheckIfDestroyTileEventIsActive e677 end:e6d3
func OwEventProcess02_SetEventTileIndexes e6d3 end:e6f9
func OwEventProcess03_GetLayer2Tile e6f9 end:e76c
func BufferEventTileToStripeImageTable_Buffer2x2Tile e76c end:e824 rep:e76c
func BufferEventTileToStripeImageTable_Buffer6x6Tile e824 end:e9ec rep:e824
func OwEventProcess07_SilentEventsAndEndOfEvent e9ec end:e9f1
func OwEventProcess07_SilentEventsAndEndOfEvent_Entry2 e9f1 end:ea62
func OwEventProcess03_GetLayer2Tile_04EA62 ea62 end:ea8b
func OwEventProcess03_GetLayer2Tile_04EA8B ea8b end:eaa4
func OwEventProcess04_FadeInLayer2Tile eaa4 end:eb56
func OwEventProcess06_FadeInLayer1Tile ebeb end:ec67
func GetXAndYDispOfCurrentEventTileSprite ec67 end:ec78 sig:PointU8(void)
func OwEventProcess05_GetLayer1Tile ec78 end:ecd3
func OwEventProcess01_DestroyTileAnimation_04ED83 ed83 end:ede6
func OwEventProcess01_DestroyTileAnimation_04EDE6 ede6 end:ee30 rep:ede6
func OwEventProcess04_FadeInLayer2Tile_04EE30 ee30 end:eeaa
func OwEventProcess01_DestroyTileAnimation_04EEAA eeaa end:f290
func DrawFlyingSwitchBlocks f290 end:f39c
func DrawFlyingSwitchBlocks_04F39C f39c end:f3e5
func DisplayOwPrompt f3e5 end:f3ff
func OwPrompt01_InitializeOwPrompt f3ff end:f407
func OwPrompt01_InitializeOwPrompt_04F407 f407 end:f411
func OwPrompt02_ExpandPromptWindow f415 end:f503
func OwPrompt03_OverworldLifeExchanger f513 end:f60e
func OwPrompt03_OverworldLifeExchanger_04F60E f60e end:f672
func LoadOverworldSprites f675 end:f6d0
func OverworldLightningAndRandomCloudSpawning f708 end:f828
func OverworldLightningAndRandomCloudSpawning_Return04F828 f828 end:f833
func ProcessOverworldSprites f853 end:f87c
func CheckIfXIsAllowedOnYSubmap_Sprites f87c end:f882
func CheckIfXIsAllowedOnYSubmap_Lightning f882 end:f8a6
func OWSpr01_Lakitu f8cc end:f993
func OWSpr01_Lakitu_04F993 f993 end:f9a8
func OWSpr02_BlueBird f9b8 end:fa2e
func OWSpr03_CheepCheep fa3e end:fa7d
func OWSpr03_CheepCheep_04FA7D fa7d end:fa83
func OWSpr03_CheepCheep_04FA83 fa83 end:faed
func OWSpr03_CheepCheep_GenericOverworldSpriteGFXRt_Draw8x8 faed end:faf1
func OWSpr04_PiranhaPlant faf1 end:fb06
func OWSpr04_PiranhaPlant_GenericOverworldSpriteDraw fb06 end:fb0a
func OWSpr04_PiranhaPlant_GenericOverworldSpriteGFXRt_Entry2 fb0a end:fb37
func OWSpr05_Cloud fb37 end:fb77
func OWSpr05_Cloud_04FB77 fb77 end:fb7a
func OWSpr05_Cloud_04FB7A fb7a end:fb7b
func OWSpr05_Cloud_04FB7B fb7b end:fb85
func OWSpr06_KoopaKid fb98 end:fc26
func OWSpr07_Smoke fc46 end:fce1
func OWSpr08_BowserSign fce1 end:fd0a
func OWSpr09_Bowser fd24 end:fd55
func OWSpr09_Bowser_04FD55 fd55 end:fd70
func OWSpr0A_Boo fd70 end:fdd2
func OWSpr0A_Boo_04FDD2 fdd2 end:fe00 restores_x:g_ram[0xdde]
func DrawOverworldSpriteShadow fe00 end:fe45
func DrawOverworldSpriteShadow_04FE45 fe45 end:fe5b
func SetOverworldSpriteFrameIndex fe5b end:fe62
func GetOverworldSpriteOnScreenPosition fe62 end:fe7d sig:PointU16(uint8_k)
func GetOverworldSpriteOnScreenPosition_Y fe7d end:fe90
func UpdateOverworldSpritePosition fe90 end:feab
func UpdateOverworldSpritePosition_X feab end:fed7
func CheckPlayerToOverworldSpriteCollision fed7 end:feef rep:feda carry_ret
func CheckPlayerToOverworldSpriteColl_SubOverworldHorizAndVertPos feef end:ff2e sig:OwHvPos(uint8_k)
func OWSpr01_Lakitu_CalculateOverworldLakitusSpeed ff2e

# Oracle-only name entries (for intra-bank call resolution)

# Data tables (auto-detected from oracle const arrays)
exclude_range 8211 8240
exclude_range 8431 8508
exclude_range 8D74 8D90
exclude_range 8E49 8E54
exclude_range 8F7F 8F86
exclude_range 9058 9117
exclude_range 9416 941D
exclude_range 9426 945C
exclude_range 99F0 9A23
exclude_range 9C91 9D06
exclude_range 9EA7 A0FB
exclude_range D678 D6E8
exclude_range DB08 DB17
exclude_range DC02 DC08
exclude_range E359 E452
exclude_range E5A7 E5B5
exclude_range E5D6 E5E5
exclude_range EB56 EBEA
exclude_range ECD3 ED82
exclude_range F411 F414
exclude_range F503 F512
exclude_range F672 F674
exclude_range F6D0 F707
exclude_range F833 F842
exclude_range F8A6 F8C5
exclude_range F9A8 F9B7
exclude_range FA2E FA3D
exclude_range FB85 FB87
exclude_range FC26 FC45
exclude_range FD0A FD23
